.container{
    display:flex;
    align-items:center ;
    justify-content:space-between
}

.logo{
    width:100px;
    margin:16px 0px 0px 16px;
}

.menuBar{
    font-size:30px;
    cursor: pointer;
        color:rgb(175, 39, 39);
        margin-right:24px;
}